.well.bs-component
  = form_for current_user, html: { multipart: true } do |f|
    %fieldset
      .form-group
        = f.label t('common.language'), class: 'col-lg-4 control-label'
        .col-lg-10
          = f.select :language, User::INTERFACE_LANGUAGE, {}, { class: 'form-control' }
        = f.submit t('common.update'), id: "submit", class: "btn btn-primary"
