#comment_content{
  width: 800px;
  float: left;
  height: 10px;
}

#submit-comment{
  height: 45px;
}

.comment-line{
  margin-top: 10px;
  padding: 2px;
  width: 850px;

  .comment-detail{
    margin-bottom: 20px;
    .user-icon{
      margin-top: 10px;
      margin-left: 10px;
      float: left;
    }

    .user-detail{
      float: left;
      margin-left: 13px;

      .user-nick-name{
      }
      .number-of-contributions{
        margin-top: 10px;
        margin-right: 10px;
        float: left;
      }
    }

    .comment-like-bt{
      float: right;
    }
  }

  .comment-content{
    margin-top: 60px;
    border: 1px #ccc solid;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    position: relative;
  }

  .comment-content:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 23px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ccc;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .comment-content:after {
    content: "";
    position: absolute;
    top: -9px;
    left: 23px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}

#comment-toggle{
  float: right;
}

.liked-bt{
  background-color: #deb1c9;
}
