#comment_content{
  width: 495px;
  float: left;
  height: 10px;
}

#submit-comment{
  float: right;
  height: 45px;
}

.comment-line{
  border: 1px #ccc solid;
  padding: 2px;
}

#comment-toggle{
  float: right;
}

.comment-content{
  float: left;
  margin-top: 7px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.liked-bt{
  background-color: #deb1c9;
}
