.changeable-size-image{
  border: solid 1px #777;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  border-radius: 140px;
}

.radius-of-image{
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.form{
  margin: 0 auto;
  width: 700px;
  text-align: left;
}

.feed-tab{
  padding-bottom: 40px;
  margin: 0 auto;
  width: 550px;
  position: relative;

  .feed{
    padding: 2px;
    font-size: 25px;
    position: absolute;
    float: left;
  }
  .all-posts{
    padding: 2px;
    font-size: 25px;
    float: left;
    position: absolute;
    margin-left: 120px;
  }

  .selected{
    border: solid 1px #ccc;
    border-bottom-color: transparent;
    border-radius: 3px 3px 0 0;
    background-color: #fcfcfc;
    z-index: 2;
  }
}

.block{
  margin: 0 auto;
  width: 550px;
  border: 1px #ccc solid;
  border-bottom-style: none;
  border-right-style: none;
  border-left-style: none;
  .detail{
    width: 100%;
    height: 100%;
    .btn.btn-primary.stock-button.stock-bt{
      float: right;
    }
    .information{
      margin-top: 16px;
      height: 30px;
      float: left;

      .title{
        font-size: 20px;
      }
      .time-ago-and-edit{
        font-size: 14px;
      }
      .notice-message{
        margin-top: 20px;
      }
   }
  }
}

.profile-image{
  margin: 20px;
  float: left;
}

.content{
  float: left;
  margin-left: 20px;
  font-size: 15px;
  width: 370px;
  margin-right: 20px;
}

.toggeles{
  float: right;
}

.see-all-text{
  margin-bottom: 10px;
  margin-left: 20px;
}

.tag-header{
  margin-left: 215px;
  margin-bottom: 20px;
}

.notification-of-number{
  margin-top: 7px;
}

.new-post-link{
  margin-top: 7px;
}

.number-of-comment{
  margin-bottom: 10px;
  text-align: right;
  margin-right: 30px;
}

.number-of-stock{
  float: right;
  margin-right: 30px;
}

.alert.fade.in{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  line-height: 25px;
  height: 57px;
  text-align: center;
  z-index: 99999;
  color: #fff;
}

.alert-success{
  background-color: #07ad4a !important;
}

.alert-failed{
  background-color: #eb3939 !important;
}

body{
  position: relative;
  padding-top: 80px;
}

.navbar.navbar-default.navbar-fixed-top{
  height: 57px;
  z-index: 1;
}

.login-button{
  margin-top: 7px;
}

.numbers{
  margin-top: 16px;
}

.gray-link{
  color: #777777;
}

#language-selector{
  margin-right: 20px;
}

li{
  list-style-type: none;
}
