.changeable-size-image{
  border: solid 1px #777;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  border-radius: 140px;
}

.radius-of-image{
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.form{
  margin: 0 auto;
  width: 700px;
  text-align: left;
}

.block{
  margin: 0 auto;
  width: 550px;
  margin-bottom: 20px;
  border: 1px #ccc solid;
  .detail{
    width: 95%;
    .btn.btn-primary.stock-button.stock-bt{
      float: right;
    }
    .information{
      margin: 10px;
      height: 70px;
      float: left;

      .title{
        font-size: 20px;
      }
      .time-ago-and-edit{
        font-size: 14px;
      }
      .notice-message{
        margin-top: 20px;
      }
   }
  }
}

.profile-image{
  margin: 20px;
  float: left;
}

.content{
  float: left;
  margin-left: 20px;
  font-size: 15px;
  width: 390px;
}

.toggeles{
  float: right;
}

.see-all-text{
  margin-bottom: 7px;
}

.tag-header{
  margin-left: 215px;
  margin-bottom: 20px;
}

.notification-of-number{
  margin-top: 7px;
}

.number-of-comment{
  margin-bottom: 10px;
}

.alert.fade.in{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  line-height: 25px;
  height: 57px;
  text-align: center;
  z-index: 99999;
  color: #fff;
}

.alert-success{
  background-color: #07ad4a !important;
}

.alert-failed{
  background-color: #eb3939 !important;
}

body{
  position: relative;
  padding-top: 80px;
}

.navbar.navbar-default.navbar-fixed-top{
  z-index: 1;
}
