// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#note_title{
  width: 483px;
  height: 35px;
  margin-bottom: 10px;
}

#note_tag_list{
  width: 483px;
  height: 35px;
  margin-bottom: 10px;
}

#note_content{
  width: 483px;
}

#submit{
}

.well.bs-component#notes{
  width: 550px;
  margin-left: 75px;
}

#navigation{
  margin: 0 auto;
  width: 700px;
}

.col-lg-2.control-label.note{
  width: 315px;
}
