// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#note_title{
  width: 483px;
  height: 35px;
  margin-bottom: 10px;
}

#note_tag_list{
  width: 483px;
  height: 35px;
  margin-bottom: 10px;
}

#note_content{
  width: 483px;
}

#submit-note{
  margin-left: 125px;
}

.well.bs-component#notes{
  width: 550px;
  margin-left: 75px;
}

#navigation{
  text-align: center;
  width: 100%;
}

.col-lg-2.control-label.note{
  width: 315px;
}

.edit-header{
  margin-left: 70px;
}

.number-of-comment{
  margin-top: 10px;
  margin-left: 30px;
}

.block#note-only{
  margin: 0 auto;
  width: 850px;
  margin-left: 0;
  border: 1px #ccc solid;

  .btn.btn-primary.stock-button.stock-bt{
    float: right;
  }

  .title{
    margin-top: -10px;
  }

  .number-of-comment{
    margin-top: 0px;
    margin-left: 0px;
  }

  .content{
    margin-top: 15px;
    float: leftdd;
    font-size: 15px;
    width: 390px;
  }
}

.comment{
  float: left;
}

.soical-buttons{
  float: right;
}

.mini-user-profile{
  float: right;
}

.side-bar{
  float: right;
}

.follow-bt#follow-bt-note-only{
  float: right;
  margin-top: 7px;
  margin-right: 130px;
}
