// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#note_title{
  width: 483px;
  height: 35px;
  margin-bottom: 10px;
}

#note_tag_list{
  width: 483px;
  height: 35px;
  margin-bottom: 10px;
}

#note_content{
  width: 483px;
}

#submit-note{
  margin-left: 125px;
}

.well.bs-component#notes{
  width: 550px;
  margin-left: 75px;
}

#navigation{
  text-align: center;
  width: 100%;
}

.col-lg-2.control-label.note{
  width: 315px;
}

.edit-header{
  margin-left: 70px;
}

.block#note-only{
  margin: 0 auto;
  width: 850px;
  margin-left: 0;
  border: 1px #ccc solid;

  .btn.btn-primary.stock-button.stock-bt{
    float: right;
  }

  .title{
    margin-top: -10px;
  }

  .number-of-comment{
    margin-top: 0px;
    margin-left: 0px;
  }

  .content{
    margin-top: 25px;
    float: leftdd;
    font-size: 15px;
    width: 100%;
  }
}

.comment{
  float: left;
}

.soical-buttons{
  float: right;
}

.mini-user-profile{
  float: right;
}

.side-bar{
  float: right;
}

.follow-bt#follow-bt-note-only{
  float: right;
  margin-top: 7px;
  margin-right: 130px;
}

.company-name{
  margin-bottom: 5px;
}

.mini-user-image{
  margin-bottom: 5px;
}

.user-name{
  margin-bottom: 5px;
}

.popularity-notes{
  margin-bottom: 5px;
}

.number-of-comments{
  float: right;
  margin-left: 5px;
  margin-right: 20px;

  .counts{
    text-align: center;
    font-size: 20px;
    margin-bottom: -5px;
  }
}

.number-of-stocks{
   float: right;
   margin-right: 20px;

  .counts{
    text-align: center;
    font-size: 20px;
    margin-bottom: -5px;
  }
}

.note-form{
  position: relative;

  .title-new{
    left: 0;
    top: 0px;
    width: 100%;

    #note_title{
      width: 100%;
    }

    #note_title::-webkit-input-placeholder{
      color: #b1b1b1;
    }

    #note_title:-moz-placeholder{
      color: #b1b1b1;
    }
  }

  .tag-list-new{
    float: none;
    margin-right: 70px;

    .tag-text-field{
      float: left;
    }
    .tag-mark{
      float: left;
      margin-top: 5px;
      margin-left: 10px;
      margin-right: 10px;
    }
    @for $i from 0 through 5 {
      #note_tag_list_#{$i}::-webkit-input-placeholder{
        color: #b1b1b1;
      }

      #note_tag_list_#{$i}:-moz-placeholder{
        color: #b1b1b1;
      }
    }

  }

  .content-new{
    position: absolute;
    left: 0;
    top: 140px;
    height: 440px;

    #note_content{
      height: 440px;
    }

    #note_content::-webkit-input-placeholder{
      color: #b1b1b1;
    }

    #note_content:-moz-placeholder{
      color: #b1b1b1;
    }
  }

  .submit-new{
    position: absolute;
    right: 0;
    top: 600px;
  }
}
