// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile{
  margin-top: 20px;
  width: 700px;
  height: 175px;

  .profile-image{
    float: left;
    margin: 20px;
  }

  .profile-company{
    float: left;
    margin-left: 50px;
    margin-top: 52px;
  }
  .profile-bio{
    float: left;
    margin-left: 100px;
    margin-top: 52px;
  }
}

#user_nick_name{
  margin-left: 150px;
  margin-bottom: 10px;
  width: 410px;
}

#user_bio{
  margin-left: 150px;
  height: 50px;
  width: 410px;
  padding-top: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 20px;
}

#user_avatar{
  margin-left: 150px;
  width: 100px;
  margin-bottom: 10px;
}

#user_language{
  margin-left: 150px;
  width: 410px;
  margin-bottom: 10px;
}

#avatar-input{
  width: 350px;
}

#submit-user{
  margin-left: 200px;
}

.edit-profile{
  margin-left: 170px;
}

.margin#user{
  margin-bottom: 33px;
}

.well.bs-component#users{
  margin-left: 170px;
}

.navbar-collapse.collapse.navbar-inverse-collapse#user{
  margin-top: 3px;
}

.btn.btn-default.dropdown-toggle#on-nav{
  margin-top: 10px;
  height: 35px;
  width: 35px;
}

#service-name{
  margin-top: 7px;
}

.col-lg-2.control-label.user{
  float: left;
  margin-left: 50px;
  width: 200px;
}

#user_show_company{
  margin-right: 7px;
}

.check_box{
  margin-left: 250px;
  margin-bottom: 10px;
}
