- note.comments.each do |cmt|
  = render 'common/comment', comment: cmt

- if params['controller'] == 'comments' && params['action'] == 'edit'
  = render "common/comment_form", comment: comment
- else
  = render "common/comment_form", comment: note.comments.build
