= form_for [comment.note, comment] do |f|
  .clearfix
    = f.text_area :content, placeholder: t("comments.comment"), class: 'form-control'
    = f.submit t('common.post'), class: "btn btn-primary", id: "submit-comment"
